main{margin: 100px;}
h1,h2{
  margin:60px 0px;
  text-align: center;
}
header{margin: 0px auto;}

.ImagenConDescripcion{
display: flex;
}
/* div img{
  margin-right: 10px;
  height: 700px;
  width: 500px
} */

.sintomasImg{
  margin-right: 10px;
  height: 700px;
  width: 500px
}
.descripcionImg{
  margin-right: 10px;
  height: 500px;
  width: 500px
}
.prevencionesImg{
  margin-right: 10px;
  height: 700px;
  width: 500px
}


.sintomasYformulario{
  display: flex;
  justify-content: space-around;
  height: 650px;
}
form{
  border-style: solid;
  border-color: blue;
  padding: 10px;
}
input{
display: block;
margin-bottom: 10px;

}
.pregunta{
  display: block;

}
.radio{
  display: inline;
  margin-bottom: 10px;
}
