main{margin: 100px;}
h1,h2{
  margin:60px 0px;
  text-align: center;
}
.ImagenConDescripcion{
display: flex;
}
div img{
  margin-right: 40px;
  height: 700px;
  width: 500px
}

.sintomasYformulario{
  display: flex;
  justify-content: space-around;

  height: 910px;
}
form{
  border-style: solid;
  border-color: blue;
  padding: 10px;
}
input{
display: block;
margin-bottom: 5px;

}
