main{
  
  margin: 75px;

}
h1,h2{
  margin:100px 0px;
  background-color: #78c8ff;
  text-align: center;
}


.ImagenConDescripcion{
display: flex;
align-items: center;
}

body{
  font-family: serif;
  font-size: 11rm;
}

 .parrafoSobreImg{
   height: 150px;
   width: 500px;
 }
.sintomasImg{
  margin-right: 10px;
  height: 500px;
  width: 500px;
  border-radius: 200px;
}
.descripcionImg{
  border-radius: 50%;
  margin-right: 10px;
  height: 500px;
  width: 500px;
}

.prevenciones{
  display:grid;
  grid-template-areas:  "titulo0 titulo0"
                        "prevenciones prevenciones"
                        "titulo titulo"
                        "aside aside";
}
.titulo0{
  grid-area: titulo0;
}
.titulo1{
  grid-area: titulo;
}

.prevencionesImg{
  width: 100%;
  height:600px;
  grid-area: prevenciones;
}
aside{
  grid-area: aside;
  display: flex;
  justify-content: space-around;
}
.mapa{
  height: 400px;
  width: 400px;
  float: right;
}
.hospital{
height: 200px;
width: 200px;
}

.sintomasYformulario{
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
form{
  border-style: solid;
  border-color:#78c8ff ;
  padding: 10px;
  border-radius: 25px;
}
input{
display: block;
margin-bottom: 10px;

}
.labelRara{
  display: block;
}
.pregunta{
  display: block;

}
.radio{
  display: inline;
  margin-bottom: 10px;
}




.parrafoSobreImg{
  font-family: 'Muli', sans-serif;
}

*{
  font-family: 'Muli', sans-serif;
}