/* main{

  margin: 75px;

} */
*{
  /* font-size: 1rm; */
  font-size: 1em;
  font-family: 'Muli', sans-serif;
}
h1{
  font-size: 1.6em;
}
h2{
  font-size:1.5em;
}
h3{
  font-size:1em;
}

h1,h2{
  margin: 3em 0px;
  background-color: #78c8ff;
}
h1,h2,h3{
  text-align: center;
}

h3{
  padding: 10px;
}

.ImagenConDescripcion{ /* IMAGEN */
display: grid;
grid-template-columns: 50% 50%;
align-items: center;
padding: 10px;
box-sizing: border-box;
}

.sintomasYparrafo{
  display: grid;
}

 .parrafoSobreImg{
   box-sizing: border-box;
   padding: 10px;
   height: auto;
   width: 100%;
 }

.sintomasImg{  /* IMAGEN */
  /* margin-right: 10px;
  height: 500px;
  width: 500px;
  border-radius: 200px; */
  padding: 10px;
  width: 100%;
  height: auto;
  border-radius: 5em;
  box-sizing: border-box;
}
.descripcionImg{ /* IMAGEN */
  border-radius: 25%;
  height: auto;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.descripcion{
  padding: 10px;
  box-sizing: border-box;
  height: auto;
  width: 100%;
}

.prevenciones{
  display:grid;
  grid-template-areas:  "titulo0 titulo0"
                        "prevenciones prevenciones"
                        "titulo titulo"
                        "aside aside";
}
.titulo0{
  grid-area: titulo0;
}
.titulo1{
  grid-area: titulo;
}

.prevencionesImg{ /* IMAGEN */
  width: 100%;
  height:auto;
  grid-area: prevenciones;
  padding: 10px;
  box-sizing: border-box;
}
aside{
  grid-area: aside;
  display: grid;
}
.datosDeHospitalYimagen{
  display: grid;
  grid-template-columns: 50% 50%;
}

.hospital{ /* IMAGEN */
height: auto;
width: 100%;
padding: 10px;
box-sizing: border-box;
/* float: left; */
}
.datosDeHospitalYimagen ul{
  box-sizing: border-box;
  width: 100%;
  height: auto;
  /* float: right; */

}
.datosDeHospitalYimagen ul li{
  display: grid;
  grid-template-rows:repeat(3,1fr);
  border-radius: 20px;
}

.mapa{
  height: auto;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}


.sintomasYformulario{
  font-size: 1rm;
  display: grid;
  grid-template-columns:50% 50%;
}
form{
  padding: 10px;
  font-size: 1em;
  box-sizing: border-box;
  border-style: solid;
  border-color:#78c8ff ;
}

input{
  width:100%;
  padding: 1px;
  box-sizing: border-box;
  font-size: 1em;
}


label{
  display: flex;
  margin-bottom: 10px;
  font-size: 1em;
}

.radio{
  display:inline;
  width: auto;
  margin-bottom: 10px;
}
/* mostrar ocultar de js */
.select{
  display: flex;
  width: 100%;
}
.select, .labelRara{
   display:none;
}

#labelD, #direccion{
  display:none;
}

@media screen and (max-device-width:768px) {
  .ImagenConDescripcion{
    grid-template-columns: none;
    /* width: 60%; */
  }
  body{
    font-size: 60%;
  }
  .sintomasYformulario{
    grid-template-columns: none;
    /* width:60%; */

  }
  /* form{
    margin-left: 15%;
    width: 70%;
  } */
  .datosDeHospitalYimagen{
    grid-template-columns: none;
    /* width: 100%; */
  }
  .prevencionesImg{
    /* width: 100%; */
  }
  .mapa{
    /* width: 60%; */
  }
  h1,h2,h3{
    /* width: 60%; */
  }

}
