
main{
    margin-top: 0px;  /*100px*/
    margin-left: 0px;
    margin-bottom: 0px; /*100px*/
    margin-right: 0px;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(107, 151, 170);
}

/*BODY*/

.formularioYdatosDeContacto{
    display: inline-flex;
  }
.formulario{
    display: grid;
    grid-template-columns: 150px 195px;
    grid-template-rows: 70px 70px 70px 200px 70px;
    justify-content: left;
    margin-right: 100px;
    clear: right;
    padding-right: 4%;
    padding-left: 11%;
    padding-bottom: 4%;
    padding-top: 2%;
}

@media (max-width :900px){
    .formulario{
        display:flex;
        flex-direction: column;

    }
}

label {
    font-size: 98%;
}

.DatosDeContacto{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 66px;

}
.contenedorMapa{
    display:flex;
    background-color: rgb(228, 228, 238);
    width: 100%;
    justify-content: center;
    align-self: center;
    align-content: center;

    
}

.mapa{
    height: 600px;
    width:70%;
}

@media (max-width : 450px){
    .mapa{
        height: 400px;
    }
}
#nom_Apellido, #mail, #telf{
    height: 20px;
    width: 100%;
    margin: 2%;
}



#consulta{
    height: 200px;
    width: 100%;
    margin: 2%;

}
#botonEnviar{
    height: 31px;
    width: 73px;
    left: 270px;
    display: block;
    font-family: "Bebas Neue";
    background-color: #213f58;
    color: white;
    box-shadow: none;
    
}

#tituloContacto{
    padding-left: 11%;
}
#tituloUbicacion{
    text-align: center;
    background-color: #213e55;
    height: 50px;
}



@media (max-width:900px){
    .formularioYdatosDeContacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
}
#contactoIconFb, #contactoIconIg, #contactoIconUnl{
    height: 35px;
    width: 35px;
    border-radius: 100px;
}
#contactoIconFb:hover, #contactoIconIg:hover, #contactoIconUnl:hover{
    height: 40px;
    width: 40px;
    border-radius: 100px;
}
@media screen and (max-width:1150px){
    /*HAY QUE MODIFICAR LA PARTE DEL FORMULARIO Y DATO DE CONTACTOS*/
}
@media screen and (max-width: 600px){
    /*HAY QUE MODIFICAR LA PARTE DEL FORMULARIO Y DATO DE CONTACTOS*/
}
@media screen and (max-width: 420px){
    /*HAY QUE MODIFICAR LA PARTE DEL FORMULARIO Y DATO DE CONTACTOS*/
}