/*margen para todo el maine.El marge y footer se colocan siempre fuera del main */
main{
  margin: 100px;
  justify-content: space-around;
  font-family: 'Muli', sans-serif;
}


/* Covid-19 */
#titleCovid {/* al titulo lo saque del div porque no me queria morir programando */
  text-align: center;
  font-family: "Bebas Neue";
}
#enfermedadCovid{/* use grid para porque el boton no se queria acomodar  */
  display: grid;
  grid-template-columns: 150px 600px;
  padding-bottom: 30px;
  justify-content: center;
}
.bottonCovid{
  padding-left: 151px;
  display: block;
}
#botonDetalleCovid{
  background-color: #2586d7;
  font-family: "Bebas Neue";
  color: white;
  box-shadow: none;
}
.covidImg{
  height: 150px;
  width: 150px;
}


/* Asma */
#titleAsma{/* al titulo lo saque del div porque no me queria morir programando */
  text-align: center;
  font-family: "Bebas Neue";
}
#Asmaenfermedad{/* use grid para porque el boton no se queria acomodar  */
  display: grid;
  grid-template-columns: 150px 600px;
  justify-content: center;
}
.botonDetalleAsma{
  padding-left: 151px;
  padding-bottom: 42px;
  display: block;
}
#botonDetalleAsma{
  background-color: #2586d7;
  font-family: "Bebas Neue";
  color: white;
  box-shadow: none;
}
#vectorAsma{
  height: 150px;
  width: 150px;
}

/* Zika */
#titleZika{
  text-align: center;
  padding-bottom: 5px;
  font-family: "Bebas Neue";
}
#Zikaenfermedad{
  display: grid;
  grid-template-columns: 150px 600px;
  padding-bottom: 30px;
  justify-content: center;
}
.botonDetalleZika {
  padding-left: 151px;
  display: block;
}
#botonDetalleZika{
  background-color: #2586d7;
  font-family: "Bebas Neue";
  color: white;
  box-shadow: none;
}
#vectorZika{
  height: 150px;
  width: 150px;
}


/*BODY AJUSTES NO IMPORTANTES*/
#vectorZika, #vectorAsma, #vectorCovid{
  border-radius: 100px;
}
/*BODY-- BARRA DE FILTROS*/
#boxFiltro{
  display: grid;
  grid-template-columns: 900px;
  justify-content: center;
  padding-bottom: 20px;
  height: 40px;
}

@media screen and (max-width:1150px){
  #boxFiltro{
    grid-template-columns: 117%;
    width: 100%;
  }
  #enfermedadCovid, #Asmaenfermedad, #Zikaenfermedad{
    grid-template-columns: 49% 66%;
  }
}

@media screen and (max-width:600px){
  #boxFiltro{
    widht: 100px;
  }
  #enfermedadCovid, #Asmaenfermedad, #Zikaenfermedad{
    grid-template-columns: 78% 45%;
  }
}
@media screen and (max-width: 420px){
  #enfermedadCovid, #Asmaenfermedad, #Zikaenfermedad{
    font-size: small;
    grid-template-columns: 127% 68%;
  }
}

