main{
    margin-top: 0px;  /*100px*/
    margin-left: 0px;
    margin-bottom: 0px; /*100px*/
    margin-right: 0px;
    justify-content: space-around;
    font-family: 'Muli', sans-serif;
}

/*BODY*/

.formulario{
    display: grid;
    grid-template-columns: 150px 195px;
    grid-template-rows: 70px 70px 70px 200px 70px;
    justify-content: left;
    /*background-color: #999999;*/
    margin-right: 300px;
    clear: right;
    padding-right: 4%;
    padding-left: 11%;
    padding-bottom: 4%;
    padding-top: 2%;
    width: 371px;
}
label {
    font-size: 98%;
}
.DatosDeContacto{
    justify-content: center;
    bottom: 66px;

}
.ubicacion{
    display: grid;
    grid-template-rows: 50px 600px 50px;
    justify-content: center;
    background-color: rgba(43,43,43,0.56);
}
#nom_Apellido, #mail, #telf{
    height: 24px;
    width: 185px;
}

#consulta{
    height: 185px;
    width: 185px;
    display: block;
}
#botonEnviar{
    height: 31px;
    width: 73px;
    position: relative;
    left: 270px;
    display: block;
    font-family: "Bebas Neue";
    background-color: #2586d7;
    color: white;
    box-shadow: none;
}
#mail{
    position: relative;
    top: -7px;
    display: block;
}
#telf{
    position: relative;
    top: -6px;
    display: block;
}
#tituloUbicacion{
    text-align: center;
}

#tituloContacto{
    padding-left: 11%;
}

.mapaClass, #mapa{
    justify-content: space-around;
    width: 1080px;
}
.formularioYdatosDeContacto{
  display: flex;
}

#contactoIconFb, #contactoIconIg, #contactoIconUnl{
    height: 35px;
    width: 35px;
    border-radius: 100px;
}
#contactoIconFb:hover, #contactoIconIg:hover, #contactoIconUnl:hover{
    height: 40px;
    width: 40px;
    border-radius: 100px;
}