/*este es el css de la pagina de inicio*/

*{
    height: auto;
    width: auto;
    margin: auto;
}
header{
   
    display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-image: url("../img/151783-light-blue-vertical-lines-and-stripes-background.jpg");
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;

}



.elemento0{
  display: flex;
}

.elemento1{
  margin-left: 20px;
  height: 80px;
  width: 80px;
  padding-left: 70px;
}
.elemento2{
  height: 50px;
  width: 50px;
}
.elemento3{
  width: 600px;
  margin-right: 20px;
  height: 45px;
}



footer{
    height: 125px;
    background-image: url("../img/151783-light-blue-vertical-lines-and-stripes-background.jpg");
    border-bottom: lightblue 5px solid;
}



.carrousel{

    background: url(../img/familia.jpg);
    opacity: 0.65;
    z-index: 0;
    width: 100%;
    height: 700px;
    background-size: 100%;
    align-items: center;
    justify-content: space-between;
    display:block;
    background-repeat: no-repeat;
    display:-ms-flexbox;
    display:-webkit-flex;


}

.carrouselAtras:hover{
    -webkit-transform: scale(1.1);

}
.carrouselAtras{
    opacity: initial;
    height: 100px;
    width: 100px;
    margin-left: 50px;
}
.carrouselAdelante:hover{
    -webkit-transform: scale(1.1);


}
.carrouselAdelante{
    height: 100px;
    width: 100px;
    margin-right: 50px;
}

.titulo{
background-color:lavender;
height: 100px;
display:flex;
justify-content: center;
border-top:#808080 3px solid ;


}

.titulouno{
font-family: Arial, Helvetica, sans-serif;
text-align: center;


}

.columna{
    background-color:lavender ;
    height: 400px;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    display: flex;

}
.enfermedad{
    margin-left: 20px;
    width: 150px;
    height: 150px;
}

.inyeccion{
    margin-left: 20px;
    width: 150px;
    height: 150px;

}

.hospital{
    margin-left: 20px;
    width: 150px;
    height: 150px;
}

.palabras{
    text-align: center;
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(98, 146, 165);
    -webkit-border-radius: 25px 25px 30px 25px;
}


.llama{
    height: 400px;
    background-color: rgb(165, 189, 188);
    align-items: flex-end;
    flex-direction: row;
    display:flex;
    display:-ms-flexbox;
    display:-webkit-flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}
.llama1{
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.uno{
font-size: 35px;
top: 30px;

}

.dos{
    font-size: 100px;
}
.tres{
    height: 300px;
    width: 300px;
}
.tres:hover{
    height: 300px;
    width: 300px;
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);

}

.cuatro{
    font-size: 250px;
}

.pieDePagina{
    display:flex;
    display:-ms-flexbox;
    display:-webkit-flex;
    flex-direction: row;

    align-items: baseline;
    justify-content: space-around;
    background-color: #78c8ff;

}

.integrantes{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: transparent;
}

.titulospiedepagina{
    font-size: 20px;
    background-color: rgb(98, 146, 165);
    -webkit-border-radius: 25px 25px 30px 25px;
    text-align: center;


}

.colorVinculos {
    color:black;
}

.menu{
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.redessociales{
    background-color:  transparent;
    text-align: center;
}

.sub{
    height: 50px;
    width: 50px;
    margin-right: 5px;
}
