


.contenedorTitulo{
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    height: 170px;
    display: flex;
    background-color: rgb(175, 183, 206);
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}



.titulo{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    
}

.contenedorMapa{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 228, 238);
    
}

.mapa{
    
    height: 600px;
    width: 70%;
    
}
