/*Estilos comunes del footer y header en lás páginas no index*/

/*FOOTER*/
.pieDePagina{
    display:flex;
    display:-ms-flexbox;
    display:-webkit-flex;
    flex-direction: row;
    text-decoration: none;
    align-items: baseline;
    justify-content: space-around;
    /*background-image: url("https://image.freepik.com/vector-gratis/banner-fondo-salud-electrocardiograma-medico_1017-20049.jpg");*/
    background-image: url("../img/151783-light-blue-vertical-lines-and-stripes-background.jpg");
    background-size: contain;
}

.integrantes{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: transparent;
}

.titulospiedepagina{
    font-size: 20px;
    background-color: rgb(98, 146, 165);
    -webkit-border-radius: 25px 25px 30px 25px;
    text-align: center;
    text-decoration: none;


}

.colorVinculos {
    color:black;
    text-decoration: none;
}

.menu{
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.menu li a{
    text-decoration: none;
}

.redessociales{
    background-color:  transparent;
    text-align: center;
}

.sub{
    height: 50px;
    width: 50px;
    margin-right: 5px;
}


/*HEADER*/


#seachBoxToMove{
    position: relative;
    /* right: 70px; */
    top: 20px;
    width: 624px;
    height: 30px;
    display: block;
    -webkit-box-flex: initial;
    /* justify-items: center; */
    align-self: flex-start;
}
#logoIconHeader{
    position: relative;
    left: 0px;
    top: 0px;
    width: 96px;
    height: 96px;
    display: block;
}

header{
    display: flex;
    /*background-color: #78c8ff;*/
    /*background-image: url("https://image.freepik.com/vector-gratis/banner-fondo-salud-electrocardiograma-medico_1017-20049.jpg");*/
    background-image: url("../img/151783-light-blue-vertical-lines-and-stripes-background.jpg");
    height: 100px;
    background-size: contain;
    color:white;
    justify-content: space-around;
    border-style: revert;
    padding: 4px;
}


#menuSuperiorID{
    padding: 0;
}

#menuSuperiorID li{
    display: inline;
}
#menuSuperiorID li a {
    text-decoration: none;
    color: white;
    float: left;
    padding: 10px;
    font-family: 'Muli', sans-serif;
    background-color: #2586d7;
    justify-items: center;
    display: block;
}

#menuSuperiorID li a:hover{
    background-color: #cde0ef;
    margin-top: -2px;
}
