/*Estilos comunes del footer y header en lás páginas no index*/

/*FOOTER*/
.pieDePagina{
    display:flex;
    display:-ms-flexbox;
    display:-webkit-flex;
    flex-direction: row;
    text-decoration: none;
    align-items: baseline;
    justify-content: space-around;
    /*background-image: url("https://image.freepik.com/vector-gratis/banner-fondo-salud-electrocardiograma-medico_1017-20049.jpg");*/
    background-image: url("../img/151783-light-blue-vertical-lines-and-stripes-background.jpg");
    background-size: contain;
}

.integrantes{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: transparent;
}

.titulospiedepagina{
    font-size: 20px;
    background-color: rgb(98, 146, 165);
    -webkit-border-radius: 25px 25px 30px 25px;
    text-align: center;
    text-decoration: none;


}

.colorVinculos {
    color:black;
    text-decoration: none;
}

.menu{
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.menu li a{
    text-decoration: none;
}

.redessociales{
    background-color:  transparent;
    text-align: center;
}

.sub{
    height: 50px;
    width: 50px;
    margin-right: 5px;
}


/*HEADER*/
header{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("../img/151783-light-blue-vertical-lines-and-stripes-background.jpg");
}
.iconoYBuscador{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#logoIconHeader{
  height: 96px;
  width: 96px;
  margin-left: 20px;
}
#seachBoxToMove{
  width: 600px;
  height: 45px;
  margin-right: 20px;
}
#menuSuperiorID{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#menuSuperiorID {
  display: flex;

  justify-content: center;
  align-items: center;
  color:#2586d7;
  background-color: #2586d7;
}
#menuSuperiorID a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 90px;
  margin-left: 2px;
  color:white;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
}
#menuSuperiorID a:hover{
  background-color: #cde0ef;
  margin-top: -2px;
}
