/*este es el css de la pagina de inicio*/

*{
    margin: 0;
    padding: auto   ;
}
header{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-image: url("../img/151783-light-blue-vertical-lines-and-stripes-background.jpg");
    position: -webkit-sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    height: 100px;
    padding-right: 5%;
    position: sticky;
    border: gray 1px solid;
  
  
  }
  
  
  .elemento0{

      margin-left: 5%;
      height: 80px;
      width: 80px;
      padding-left: 5%;
  
  }

  @media (max-width:500px){
    .elemento0{

        height: 50px;
        width: 50px;
       
    
    }
  }
  
  .elemento1{
      display:flex;
      flex-direction: row;
      align-content: flex-start;
      width:70%;
  }
  
  .elemento2{
      height: 50px;
      width: 50px;
  }
  
  
  #seachBoxToMove{
      height: 40px;
      width: 100% ;
  
  }
  


.carrousel{
    
    display:flex;
    height: 700px;
    flex-wrap: wrap;
    max-width:100%;
    opacity: .85;
    margin: auto;

}

@media (max-width:600px){
    .carrousel{
        height:400px;

    }
}
.familia{
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: 0;

}

@media (max-width:600px){
    .familia{
        height:400px;

    }
}



.carrouselAtras:hover{
    -webkit-transform: scale(1.1);

}
.carrouselAtras{
    margin: auto;
    opacity: initial;
    height: 15%;
    width: 10%;
    margin-left: 50px;
    z-index: 1;
}
.carrouselAdelante:hover{
    -webkit-transform: scale(1.1);


}
.carrouselAdelante{
    margin: auto;

    height: 15%;
    width: 10%;
    margin-right: 50px;
    z-index: 1;
}

.titulo{
background-color:lavender;
height: 100px;
display:flex;
justify-content: center;
border-top:#808080 3px solid ;


}

.titulouno{
font-family: Arial, Helvetica, sans-serif;
text-align: center;


}

.columna{
    background-color:lavender ;
    height: 400px;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    width:100%;

}
.enfermedad{
    margin-left: 25%;
    width: 50%;
    height: 140px;
}

.inyeccion{
    margin-left: 25%;
    width: 50%;
    height: 140px;

}

.hospital{
    margin-left: 25%;
    width: 50%;
    height: 140px;
}

.palabras{
    text-align: center;
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
    -webkit-border-radius: 25px 25px 30px 25px;
    padding-top: 1%;
    font-size: 100%;
}


.contenedorLlama{
    height: 400px;
    background-color: rgb(165, 189, 188);
    align-items: flex-end;
    flex-direction: row;
    display:flex;
    display:-ms-flexbox;
    display:-webkit-flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
    border : black 1px solid;
}

@media (max-width:1150px){
    .contenedorLlama{
    height: 200px;
}
}

@media (max-width:600px){
    .contenedorLlama{
    height: 100px;
}
}

.SiTenesSintomas{
font-size: 2em;
top: 30px;

}

@media (max-width : 1150px){
    .SiTenesSintomas{
        font-size: 1.5em;

    }
}
@media (max-width : 600px){
    .SiTenesSintomas{
        font-size: 1em;

    }
}

.SiTenesSintomas2{
    font-size: 3em;
}
@media (max-width : 1150px){
    .SiTenesSintomas2{
        font-size: 2em;

    }
}

@media (max-width : 600px){
    .SiTenesSintomas2{
        font-size: 1em;

    }
}



.telefono{
    height: 90%;
    width: 20%;
}


.telefono:hover{
    height: 90%;
    width: 20%;
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);

}



.numero{
    font-size: 15em;
}

@media (max-width:1150px){
    .numero{
    font-size: 8em;
}
}
@media (max-width:600px){
    .numero{
    font-size: 4em;
}
}

.pieDePagina{
    display:flex;
    display:-ms-flexbox;
    display:-webkit-flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    background-image: url("../img/151783-light-blue-vertical-lines-and-stripes-background.jpg");
    border:black 1px solid;
    padding: 10px;
    height: 110px;

}

@media (max-width: 360px){
    .pieDePagina{

    flex-direction: column-reverse;
    height: 150px;
        justify-content: center;
        align-content: center;
        align-items: center;
}
}

.integrantes{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: transparent;
}


@media (max-width:740px){
    .integrantes{
        font-size: 0.9em;
    }
}

@media (max-width:550px){
    .integrantes{
        font-size: 0.7em;
    }
}

.titulospiedepagina{
    font-size: 1em;
    background-color: rgb(98, 146, 165);
    -webkit-border-radius: 25px 25px 30px 25px;
    text-align: center;


}

@media (max-width:550px){
    .titulospiedepagina{
        font-size: 0.8em;
    }
}



.colorVinculos {
    color:black;
}

.menu{
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
}

@media (max-width:740px){
    .menu{
       
        font-size: 0.8em;
    }
}

@media (max-width:360px){
    .menu{
        display:flex;
       flex-direction: row;
       flex-wrap: wrap;
        font-size: 0.6em;
        margin-left: 5px;
        list-style: none;
        margin: 1%;
    }
}
@media (max-width:360px){
    .colorVinculos{
        padding-left: 5px;
    }
}





.redessociales{
    background-color:  transparent;
    display:flex;
    align-content: center;
    margin: auto;
    
}



.sub{
    height: 50px;
    width: 50px;
    margin-right: 5px;
}

@media (max-width : 740px){
    .sub{
        height: 25px;
        width: 25px;
        margin-right: 5px; 
    }
}


@media (max-width : 600px){
    .sub{
        height: 20px;
        width: 20px;
        margin-right: 5px; 
    }
}









