footer{
  background-color: #78c8ff;
  display: flex;

  justify-content: space-around;

}
header{
  display: flex;
  background-color: #78c8ff;
  height: 100px;
  color:white;
  justify-content: space-around;
}
img{
  height: 90px;
    width: 90px;
}
ul{
background-color: grey
}

#searchBoxConfig{
  height: 20px;
  width: 70px;
  display: flex;
  justify-content: space-around;
}

#tituloDeLaPagina {
  font-family: "Bebas Neue";
  font-size: xxx-large; /*No sé porque por acá aparece subrayada en rojo pero si en chrome funciona perfectamente. Solo
  habria que centrarlo un poco más al igual que el logo. Yo después voy a sacarle el fondo con photoshop asi queda como
  formato png*/
  display: flex;
  justify-content: center;
}
