footer{
  background-color: grey;
  display: flex;

  justify-content: space-around;

}
header{
  display: flex;
  background-color: black;
    height: 100px;
     color:white;
     justify-content: space-around;
}
img{
  height: 90px;
    width: 90px;}
ul{background-color: grey}
