footer{
    background-image: url("https://image.freepik.com/vector-gratis/banner-fondo-salud-electrocardiograma-medico_1017-20049.jpg");
    display: flex;
    justify-content: space-around;
    bottom: -61px;
    position: relative;
}
header{
    display: flex;
    /*background-color: #78c8ff;*/
    background-image: url("https://image.freepik.com/vector-gratis/banner-fondo-salud-electrocardiograma-medico_1017-20049.jpg");
    height: 100px;
    color:white;
    justify-content: space-around;
    border-style: revert;
    padding: 4px;
}
#logoIconHeader{
    height: 90px;
    width: 90px;
    float: left;
}

#searchBoxConfig{
    height: 20px;
    width: 70px;
    display: flex;
    float: right;
}
.menu{
    display:flex;
    justify-content:space-around;
    height: 30px;
    background-color: #2586d7;
    align-items: center;
    text-decoration: none;

}
.menu li{
    display: inline;
}
.menu:hover{
    background-color: #2586d7;
    /*margin-top: -2;*/
    padding-bottom: 12px;]
}