/*BASE DE LA PAGINA DE INICIO*/
footer{
  background-color: #78c8ff;
  display: flex;

  justify-content: space-around;

}
header{
  display: flex;
  background-color: #78c8ff;
  height: 100px;
  color:white;
  justify-content: space-around;
}
img{
  height: 90px;
  width: 90px;
}


#searchBoxConfig{
  height: 20px;
  width: 70px;
  display: flex;
  justify-content: space-around;
}

#tituloDeLaPagina {
  font-family: "Bebas Neue";
  font-size: xxx-large; /*No sé porque por acá aparece subrayada en rojo pero si en chrome funciona perfectamente. Solo
  habria que centrarlo un poco más al igual que el logo. Yo después voy a sacarle el fondo con photoshop asi queda como
  formato png*/
  display: flex;
  justify-content: center;
}
#menú {
  padding: 0;
}
#menú li {
  display: inline;
}
#menú li a {
  font-family: Arial;
  font-size: 11px;
  text-decoration: none;
  float: left;
  padding: 10px;
  background-color: #2175bc;
  color: #fff;
}
#menú li a:hover {
  background-color: #2586d7;
  margin-top: -2;
  padding-bottom: 12px;]
}
#menú{
  justify-content: center;
}
.hijo2{
  padding: 0;
}
