/*BASE DE LA PAGINA DE INICIO*/
footer{
  background-image: url("https://image.freepik.com/vector-gratis/banner-fondo-salud-electrocardiograma-medico_1017-20049.jpg");
  display: flex;
  justify-content: space-around;

}
header{
  display: flex;
  /*background-color: #78c8ff;*/
  background-image: url("https://image.freepik.com/vector-gratis/banner-fondo-salud-electrocardiograma-medico_1017-20049.jpg");
  height: 100px;
  color:white;
  justify-content: space-around;
  border-style: revert;
  padding: 4px;
}
#logoIconHeader{
  height: 90px;
  width: 90px;
}


#searchBoxConfig{
  height: 20px;
  width: 70px;
  display: flex;
}

#tituloDeLaPagina {
  font-family: "Bebas Neue";
  font-size: xxx-large; /*No sé porque por acá aparece subrayada en rojo pero si en chrome funciona perfectamente. Solo
  habria que centrarlo un poco más al igual que el logo. Yo después voy a sacarle el fondo con photoshop asi queda como
  formato png*/
  display: flex;
  justify-content: center;
  position: absolute;
}
#menú {
  padding: 0;
}
#menú li {
  display: inline;
}
#menú li a {
  font-family: Arial;
  font-size: 11px;
  text-decoration: none;
  float: left;
  padding: 10px;
  display: flex;
  background-color: #2175bc;
  color: #fff;
  justify-content:space-around;
}
#menú li a:hover {
  background-color: #2586d7;
  margin-top: -2;
  padding-bottom: 12px;]
}
#menú{
  justify-content: center;
  right: 550px;
  top: 60px;
  position: absolute;
  left: 403px;
    display: flex;
}
.hijo2{
  padding: 0;
  color: yellow;
}

#seachBoxToMove{
  position: absolute;
  right: 70px;
  top:27px;
  width: 750px;
  height: 30px;
}
#logoIconHeader{
  position: absolute;
  left: 78px;
  top: 14px;
}

#datosAlumnos{
  color: white;
  position: relative;
  left: -189px;
  top: 2px;
}
#menuInferior{
  color: white;
  position: relative;
  right: 91px;
  left: -376px;
  top: 2px;
}
a{
  color: yellow;
}
#vectorEpilepsia, #vectorCovid, #vectorAsma, #vectorZika{
  width: 173px;
  height: 173px;
  border-radius: 100px
}
#parrafoBreveCovid19{
  border-width: 200px;
  position: absolute;
  right: 384px;
  left: 200px;
  bottom: 200px;
  top: 26px;
}
#botonDetalleAsma{
  color: white;
  background: #2175bc;
  border-color: #2586d7;
  font-family: "Bebas Neue";
  width: 81px;
  height: 30px;
  animation-play-state: running;
  position: absolute;
  top: 364px;
  left: 199px;
}
#botonDetalleCovid, #botonDetalleEpilepsia, #botonDetalleZika{
  color: white;
  background: #2175bc;
  border-color: #2586d7;
  font-family: "Bebas Neue";
  width: 81px;
  height: 30px;
  animation-play-state: running;
  position: absolute;
  top: 158px;
  left: 199px;
}
#titleCovid{
  position: absolute;
  top: -6px;
  left: 199px;
  font-family: "Bebas Neue";
  color: black;
}
#filtroEnfermedades{
  height: 40px;
  width: 860px;
  top: 19px;
  position: relative;
  left: 94px
}
#bodyTextEnfermedades{
  position: relative ;
  top: 40px;
}
#vectorAsma{
  position: absolute;
  top: 214px;
}
#parrafoBreveAsma{
  position: absolute;
  left: 199px;
  right: 344px;
  bottom: 390px;
}
#titleAsma{
  position: absolute;
  top: 205px;
  left: 197px;
  font-family: "Bebas Neue";
  color: black;
  size: 200px;
}
#bodyTextEnfermedades{
  border-style: solid;
  border-color: black;
  padding: 4px;
}