header{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("img/151783-light-blue-vertical-lines-and-stripes-background.jpg");
}
.iconoYBuscador{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#logoIconHeader{
  height: 96px;
  width: 96px;
  margin-left: 20px;
}
#seachBoxToMove{
  width: 600px;
  height: 45px;
  margin-right: 20px;
}
#menuSuperiorID{
  position: sticky;
  top: 0;
}
#menuSuperiorID {
  display: flex;

  justify-content: center;
  align-items: center;
  color:#2586d7;
  background-color: #2586d7;
}
#menuSuperiorID a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 90px;
  margin-left: 2px;
  color:white;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
}
#menuSuperiorID a:hover{
  background-color: #cde0ef;
  margin-top: -2px;
}
