# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\maria\OneDrive - Universidad Nacional de la Matanza\01-Programacion Avanzada-Basica II\pw-eva-01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
